body{
    background-color: rgba(43, 21, 95, 1);
    color: rgba(255, 255, 255, 0.75);
}
header{
    text-align: center;
    margin-bottom: 50px;
}
h3{
    font-size: 32px;
    margin-bottom: 0px;
}
div{
    text-align: center;
    font-size: larger
}
#inp{
    background-color: rgb(20, 8, 24);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 30px;

}
#bin{
    margin-top: 20px;
}
#res{
    margin-top: 40px;
}
#foo{
    margin-top: 300px;
    text-align: center;
}